
.c-footer {
  border-radius: 20px;
  display: grid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.c-footer input{
  border: 0;
  outline: none;
  background: none;
  height: 30px;
  font-size: 16px;
  border-radius: 25px;
  margin: 5px 10px;
  border: 2px solid #5731DE;
  padding-left: 15px;
  color: white;
}
